* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-heading: "Staatliches", sans-serif;
  --ff-main: "Palanquin", sans-serif;

  font-size: 62.5%;
}

.page {
  max-width: 38.4rem;
  margin: 0 auto;
}

img {
  width: 100%;
  height: auto;
}

header {
  padding: 3.2rem 0 2.9rem;
  background-color: hsla(218, 17%, 62%, 1);
  display: block;
}

header img {
  height: 137px;
}

header h1 {
  font-family: var(--ff-heading);
  color: white;
  font-size: 4rem;
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: #cbc0d3;

  height: 4.9rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: grid;
  background: #eff1ff;
  padding: 1.4rem 3.2rem 6rem;
}

main p {
  font-family: var(--ff-main);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.5rem;
  max-width: 30.5rem;

  display: flex;
  align-items: center;
  text-align: center;

  color: hsla(274, 84%, 12%, 1);

  margin-bottom: 3.3rem;
}

.card {
  margin-top: 3.2rem;
  position: relative;
  font-family: var(--ff-heading);
}

.card img {
  transition: all 200ms;
  animation: downtop 700ms;
}

.card h2 {
  top: 1.6rem;
  right: 1.6rem;
  position: absolute;
  border-radius: 2rem;
  font-size: 2rem;
  font-weight: 400;
  padding: 0 2.3rem;

  width: fit-content;
  height: 3.5rem;

  display: inline-flex;
  align-items: center;

  background: #feeafa;

  animation: topdown 700ms 350ms backwards;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
